.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
  }
  
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .table-container {
    padding: 16px;
  }
  
  table {
    width: 100%;
  }
  
  mat-header-cell, mat-cell {
    padding: 16px;
    word-wrap: break-word;
    white-space: normal;
  }
  